{% extends 'layouts/main.html' %}
{% block title %}Online Education System{% endblock %}
{% block content %}
<header>
  <div class="overlay"></div>
    <div class="welcome-msg">
      <div class="all">
        <div class="left">
          <h3 class="white-txt special-font-one">Modern</h3>
          <h2 class="white-txt special-font-two">Academy</h2>
          <p class="white-txt">We would like to help you, but first you should want that </p>
          <button class="upper-txt white-txt"><a href="#about">Learn more</a></button>
        </div>
        <form id="form" method="post" action="/login">
          <div class="right">
            <div class="parent">
              <div class="overlayy"></div>
                <h3 class="white-txt">Member Login</h3>
                <p class="white-txt"> Hello Dear, Welcome at Modern Academy for Engineering and Technology, Please Login with your id <br><br>You can try "S0001"</p>
                <input type="text" id="logincode" placeholder="YOUR ID" name="logincode"/>
                <a href="/login"><input type="submit" value="Login"/></a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <h2 id="team">Who Are We</h2>
    <section class="team_one">
      <div class="rana">
        <img src="/static/img/rana.jpg" alt="Rana Ehab Agha">
        <h3>Rana Agha</h3>
      </div>
      <div class="john">
        <img src="/static/img/john.jpg" alt="John Isaac">
        <h3>John Aziz</h3>
      </div>
      <div class="eslam">
        <img src="/static/img/eslam.jpg" alt="Eslam Mohamed">
        <h3>Eslam Mohamed</h3>
      </div>
    </section>
    <section class="team_two">
      <div class="esraa">
        <img src="/static/img/esraa.jpg" alt="Esraa Sherif">
        <h3>Esraa Sherif </h3>
      </div>
      <div class="mostafa">
        <img src="/static/img/mostafa.jpeg" alt="Mostafa Salama">
        <h3>Mostafa Salama</h3>
      </div>
    </section> 
  </div>
  <section class="about" id="about">
    <div class="container">
      <h2>About</h2>
      <div class="content">
        <div class="content-left">
          <h3 class="font-resize">Departments</h3>
          <ul>
            <li>Basic Science</li>
            <li>Computer Engineering</li>
            <li>Information Technology</li>
            <li>Electronic Engineering</li>
            <li>Communication Technology</li>
            <li>Manufacturing Engineering</li>
            <li>Production Technologyg</li>
            <li>Architectural Engineering & Building Technology</li>
            <li>Civil Engineerin</li>
          </ul>
        </div>
        <div class="content-right">
          <i class="fas fa-university orange-txt"></i>
        </div>
      </div>
    </div>
  </section>
</main> 
{% endblock %}