<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math</title>
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/main4.css">
    <link rel="stylesheet" href="/static/css/Framework.css">
</head>
<body>
     <div class="upper">
       <div class="container">
           <div class="first">
            <i class="far fa-envelope"></i>
            <p>ranaagha50@gmail.com</p>
        </div>
        <div class="second">
            <i class="far fa-clock"></i>
            <p>sun-thu 7:00-19:00</p>
        </div>
        <div class="third">
            <i class="fas fa-phone-alt"></i>
            <p>02-27294523</p>
        </div>
    </div>
       </div>
        <div class="sec-upper">
              <i class="fas fa-user-graduate"></i>
           <h3 class="white-txt upper-txt center-txt"> Online Education System</h3>
           <p class="white-txt">Modern Academy for Engineering and technology.</p>
           </div>
        <nav>
           <div class="container">
               <ul>
                        <li><a href="#profile" class="white-txt">My Profile</a></li>
                        <li class="down-btn"><a href="/templates/pages/corses.html#" class="white-txt">courses</a></li>
                   <li class="down-btn"><a href="/templates/pages/index.html#about" class="white-txt">About</a></li>
                    </ul> 
           </div>
       </nav>
       <header> 
           <div class="container">
                 <div class="all-courses-page">
                         <h3>Math7</h3>
                         <div class="addition">
                             <i class="fas fa-plus-circle"></i>
                         </div>
                </div>
                <div class="lectures">
                   <div class="container">
                      <ul>
                      <div class="list-icon">
                       <span class="hidden sectionname">24 October - 30 October</span>
                          <i class="far fa-times-circle" class="red-txt"></i>
                           </div>
                           <li class="activity resource modtype_resource " id="module-7283"><div><div class="mod-indent-outer"><div class="mod-indent"></div><div><div class="activityinstance"><a class="" onclick="" href="https://eng.synceg.net/mod/resource/view.php?id=7283"><img src="https://eng.synceg.net/theme/image.php/classic/core/1610567578/f/pdf-24" class="iconlarge activityicon" alt="" role="presentation" aria-hidden="true"><span class="instancename">Lecture1_Week2<span class="accesshide "> File</span></span></a></div></div></div></div></li>
                      
                        <div class="list-icon">
                        <span class="hidden sectionname">7 November - 13 November</span>
                         <i class="far fa-times-circle" class="red-txt"></i>
                           </div>
                        <li class="activity resource modtype_resource " id="module-9734"><div><div class="mod-indent-outer"><div class="mod-indent"></div><div><div class="activityinstance"><a class="" onclick="" href="https://eng.synceg.net/mod/resource/view.php?id=9734"><img src="https://eng.synceg.net/theme/image.php/classic/core/1610567578/f/pdf-24" class="iconlarge activityicon" alt="" role="presentation" aria-hidden="true"><span class="instancename">محاضرة الاسبوع 15/11/2020<span class="accesshide "> File</span></span></a></div></div></div></div></li>
                       </ul>
                   </div>

                </div>
                
           </div>
       </header>
       
       
       
        <footer>
           <div class="container">
               <i class="fas fa-university orange-txt"></i>
               <h4>Modern Academy</h4>
               <p>For Engineering and Technology</p>
           </div>
       </footer>
    <script src="/static/js/all.min.js"></script>
    <script src="/static/js/custom.js"></script>
</body>
</html>