{% extends 'layouts/logedin.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<header> 
  <section class="container">
    <section class="info" id="profile">
      <section class="info-left">
        <ul>
          <li>Name:</li>
          <li>Email:</li>
          <li>Address:</li>
          <li>Phone:</li>
          <li>Gender:</li>
          <li>Date of birth:</li>
        </ul>
      </section>
      <section class="info-right">
        <ul>
          <li>Rana Agha</li>
          <li>ranaagha50@gmail.com</li>
          <li>9,Mostafa Kamel, Alexandria</li>
          <li>01144678180</li>
          <li>Female</li>
          <li>1/9/2000</li>      
        </ul>
      </section>
    </section>
  </section>
</header>
{% endblock %}