{% extends '/layouts/logedin.html' %}
{% block title %}{{data.name}}{% endblock %}
{% block content %}
<nav>
  <div class="container">
    <ul>
      <li><a href="/staff/profile/{{ data.id }}" class="white-txt">My Profile</a></li>
      <li class="down-btn"><a href="/staff/courses/{{ data.id }}" class="white-txt">Courses</a></li>
      <li class="down-btn"><a href="#about" class="white-txt">About</a></li>
    </ul> 
  </div>
</nav>
<header> 
  <div class="container">
    <div class="all-courses-page">
      <h3>{{ data.name }}</h3>
        <div class="addition">
           <i class="fas fa-plus-circle"></i>
        </div>
    </div>
    <div class="lectures">
      <div class="container">
        <ul>
          {% for d in data.course_content %}
          <div class="list-icon">
            <span class="hidden sectionname">{{ d.name }}</span>
            <i class="far fa-times-circle" class="red-txt"></i>
          </div>
          <li class="activity resource modtype_resource " id="module-7283">
            <div>
              <div class="mod-indent-outer">
                <div class="mod-indent">
                </div>
                <div>
                  <div class="activityinstance">
                    <a class="" onclick="" href="{{ d.link }}">
                      <span class="instancename">{{ d.short_description }}<span class="accesshide "> File</span></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>         
  </div>
</header>
{% endblock %}