{% extends 'layouts/logedin.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<nav>
  <div class="container">
    <ul>
      <li><a href="/student/profile/{{ student_data.id }}" class="white-txt">My Profile</a></li>
      <li class="down-btn"><a href="/student/courses/{{ student_data.id }}" class="white-txt">Courses</a></li>
      <li class="down-btn"><a href="#about" class="white-txt">About</a></li>
    </ul> 
  </div>
</nav>
<header> 
  <section class="container">
    <section class="info" id="profile">
      <section class="info-left">
        <ul>
          <li>Name:</li>
          <li>Email:</li>
          <li>Address:</li>
          <li>Phone:</li>
          <li>Gender:</li>
          <li>Date of birth:</li>
        </ul>
      </section>
      <section class="info-right">
        <ul>
          <li>{{ student_data.name }}</li>
          <li>{{ student_data.email }}</li>
          <li>{{ student_data.address }}</li>
          <li>{{ student_data.phone }}</li>
          <li>{{ student_data.gender }}</li>
          <li>{{ student_data.date_of_birth }}</li>
        </ul>
      </section>
    </section>
  </section>
</header>
{% endblock %}