*{
    margin: 0;
       padding: 0;
}

.container {
    padding: 12px 90px;
}
body{
      background:linear-gradient(-135deg, #c850c0, #4158d0);
}
 .all{
     display: flex;
    justify-content: space-around;
}
nav .container {
    background: #484c7f;
}
nav .container .nav_container ul{
    display: flex;
    justify-content: space-around;
}

nav .container .nav_container ul li a {
   color: #fff;
    text-decoration: none;
}

.profile_page{
    background: #fff;
    border-radius: 10px; 
    padding: 48px 0px 266px 4px;
    margin: 40px 60px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 88%;
  background-color:#484B91;
  margin-left: 6%;
  margin-top: 35px;
  color:#fff;
}

td, th {
  border: 1px solid #f9f9f9;
  text-align: left;
  padding: 15px 8px;
}
.courses {
    margin-top: 25px;
}
