<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
     <link rel="stylesheet" href="CSS/all.min.css">
    <link rel="stylesheet" href="CSS/main3.css">
    <link rel="stylesheet" href="CSS/Framework.css">
</head>
<body>
  <div class="upper">
       <div class="container">
           <div class="first">
            <i class="far fa-envelope"></i>
            <p>ranaagha50@gmail.com</p>
        </div>
        <div class="second">
            <i class="far fa-clock"></i>
            <p>sun-thu 7:00-19:00</p>
        </div>
        <div class="third">
            <i class="fas fa-phone-alt"></i>
            <p>02-27294523</p>
        </div>
    </div>
       </div>
        <div class="sec-upper">
              <i class="fas fa-user-graduate"></i>
           <h3 class="white-txt upper-txt center-txt"> Online Education System</h3>
           <p class="white-txt">Modern Academy for Engineering and technology.</p>
           </div>
        <nav>
           <div class="container">
               <ul>
                        <li><a href="file:///D:/Our%20Project%20E/New/profile.html" class="white-txt">My Profile</a></li>
                        <li class="down-btn"><a href="#" class="white-txt">courses</a></li>
                   <li class="down-btn"><a href="file:///D:/Our%20Project%20E/New/index.html#about" class="white-txt">About</a></li>
                    </ul> 
           </div>
       </nav>
       <main> 
           <div class="container">
                  <div class="all-courses-page">
                         <h2>Your Courses</h2>
                    <section class="courses">
                    <div class="container">
                        <ul>
                       <li>Math7</li>
                       <li>Computer Application</li>
                   </ul>
                    </div>
               </section>
                </div>
           </div>
       </main>
   <script src="JS/all.min.js"></script> 
</body>
</html>