<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Education System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/all.min.css">
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/Framework.css">
</head>
<body>
     <div class="upper">
       <div class="container">
           <div class="first">
            <i class="far fa-envelope"></i>
            <p>ranaagha50@gmail.com</p>
        </div>
        <div class="second">
            <i class="far fa-clock"></i>
            <p>sun-thu 7:00-19:00</p>
        </div>
        <div class="third">
            <i class="fas fa-phone-alt"></i>
            <p>02-27294523</p>
        </div>
    </div>
       </div>
        <div class="sec-upper">
              <i class="fas fa-user-graduate"></i>
           <h3 class="white-txt upper-txt center-txt"> Online Education System</h3>
           <p class="white-txt">Modern Academy for Engineering and technology.</p>
           </div>
        <nav>
           <div class="container">
               <ul>
                        <li><a href="#" class="white-txt">Home</a></li>
                        <li class="down-btn"><a href="#about" class="white-txt">About</a></li>
                   <li class="down-btn"><a href="#team" class="white-txt">Team</a></li>
                        <i class="fas fa-bars white-txt" id="bars"></i>
                    </ul>
                    
           </div>
       </nav>
         <header>
                    <div class="overlay"></div>
                    <div class="welcome-msg">
             <div class="all">
                     <div class="left">
              <h3 class="white-txt special-font-one">Modern</h3>
              <h2 class="white-txt special-font-two">Academy</h2>
           <p class="white-txt">We would like to help you, but first you should want that </p>
           <button class="upper-txt white-txt"><a href="#about">Learn more</a></button>
          </div>
                  <div class="right">
                   <div class="parent">
                       <div class="overlayy"></div>
                    <h3 class="white-txt">Member Login</h3>
                    <p class="white-txt"> Hello Dear, Welcome at Modern Academy for Engineering and Technology, Please Login with your id </p>
                    <input type="text" placeholder="YOUR ID">
                 <div class="check-box">
                      <h4>You Are?</h4>
                      <div class="check-flex">
                         <div class="check-flex-left">
                                <h4 class="white-txt">Student</h4>
                        <input type="checkbox" class="radio" value="1" name="fooby[1][]" />
                         </div>
                       <div class="check-flex-right">
                            <h4 class="white-txt">Staff</h4>
                        <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> 
                       </div>
                    
                      </div>
                     
                    </div>
                    <button class="upper-txt white-txt"><a href="file:///D:/Our%20Project%20E/New/profile.html">Login</a></button>
                </div>
                   </div>     
            </div>
             </div>           
       </header> 
       <main>
          <div class="container">
           <h2 id="team">Who We Are</h2>
           <section class="team_one">
               <div class="rana">
                   <img src="img/rana.jpg" alt="Rana Ehab Agha">
                   <h3>Rana Agha</h3>
               </div>
               <div class="john">
                   <img src="img/john.jpg" alt="John Eshak">
                   <h3>John Aziz</h3>
               </div>
                <div class="eslam">
                   <img src="img/eslam.jpg" alt="Eslam Mohamed Shokry">
                   <h3>Eslam Mohamed</h3>
               </div>
           </section>
           <section class="team_two">
               <div class="esraa">
                   <img src="img/esraa.jpg" alt="Esraa Sherif">
                   <h3>Esraa Sherif</h3>
               </div>
               <div class="mostafa">
                   <img src="img/mostafa.jpeg" alt="Mostafa Salama">
                   <h3>Mostafa Salama</h3>
               </div>
           </section> 
           </div>
             <section class="about" id="about">
             <div class="container">
             <h2>About</h2>
             <div class="content">
                    <div class="content-left">
                  <h3 class="font-resize">Departments</h3>
             <ul>
                 <li>Basic Science</li>
                 <li>Computer Engineering</li>
                 <li>Information Technology</li>
                 <li>Electronic Engineering</li>
                 <li>Communication Technology</li>
                 <li>Manufacturing Engineering</li>
                 <li>Production Technologyg</li>
                 <li>Architectural Engineering & Building Technology</li>
                 <li>Civil Engineerin</li>
             </ul>
             </div>
             <div class="content-right">
                 <i class="fas fa-university orange-txt"></i>
             </div>
             </div>
          
              </div>
         </section>
       </main> 
       <footer>
           <div class="container">
               <i class="fas fa-university orange-txt"></i>
               <h4>Modern Academy</h4>
               <p>For Engineering and Technology</p>
           </div>
       </footer>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="JS/all.min.js"></script>
       <script src="JS/custom.js"></script>
</body>
</html>